- load utils
- csrf_token

- for k,v in form.errors.items
  | {{ k }} : {{ v }}

- for field in form.visible_fields
  - with type=field.field.widget|klass

    | {% if type == 'TextInput' %}

    .input-group
      span.input-group-addon {{ field.label }}
      input.form-control(type="text"
        placeholder="{{ field.label }}"
        name="{{ field.name }}")

    | {% elif type == 'PasswordInput' %}

    .input-group
      span.input-group-addon {{ field.label }}
      input.form-control(type="password"
        placeholder="{{ field.label }}"
        name="{{ field.name }}")

    | {% else %}

    .input-group
      | Unknown input widget {{ type }} in form.jade

    | {% endif %}

    .vspace
